* {
    color: white;
}
h1 {
    color: bisque !important;
    font-family: 'Montserrat';
    font-size: 275%;
    justify-content: center;
    align-items: center;
    display: flex;
}
body{
    background-color: #231F20;
}
footer{
    color: blueviolet;
    justify-content: center;
    align-items: center;
    display: flex;
}